
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('bg\ image.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 500px;
    text-align: center;
}

h1 {
    color: #3729b9; 
    margin-bottom: 20px;
    font-size: 3rem;
    text-decoration: underline;
}

p {
    font-size: 2rem;
    color: #2fa10c;
    font-weight: 300;

}

span {
    font-weight: 200;
    color: #07071b; 
}


@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }
}
